/* src/styles/fonts.css */
@font-face {
  font-family: 'Jameel Noori Nastaleeq';
  src: url('https://cdn.jsdelivr.net/gh/tariq-abdullah/urdu-web-font-CDN/JameelNooriNastaleeq.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-urdu: "Jameel Noori Nastaleeq", serif;
}
